.banner-section-container {
  height: 100vh;
  background-image: url("/pattern.png");
  background-color: #c1ab8a;
  background-size: 40%;
  background-attachment: fixed;
  background-blend-mode: multiply;
  color: #fff;
  text-align: center;
}
