@import '../../common.scss';

.header {
  padding-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  flex-direction: row;
  .logo-container {
    width: 25%;
    display: flex;
    align-content: center;
    justify-content: center;
    .logo-image {
      width: 35%;
      margin: 0;
      height: auto;
      img {
        max-width: 100%;
      }
    }
    .logo-text {
      width: 65%;
      text-align: left;
      padding-left: 1rem;
      h1 {
        margin: 0;
        text-transform: uppercase;
        font-weight: 800;
        color: #fff;
        font-size: 200%;
      }
    }
  }
  .nav-menu-container {
    width: 55%;
    .nav-menu {
      ul {
        display: flex;
        list-style-type: none;
        align-items: flex-start;
        li {
          margin: 0 1.5rem;
          a {
            text-decoration: none;
            color: #fff;
            font-size: 110%;
            i {
              color: $secondary;
              padding: 0 0.4rem;
            }
          }
        }
      }
    }
  }
  .controllers-container {
    width: 20%;
    text-align: right;
    .get-package-btn {
      background-color: #fff;
      border: 0;
      outline: 0;
      border-radius: 30px;
      padding: 0.7rem 1.5rem;
      color: $secondary;
      font-size: 0.8rem;
      font-weight: 500;
      margin: 0 0.3rem;
    }
    .toggle-nav {
      background-color: $secondary;
      border: 0;
      outline: 0;
      width: 2.4rem;
      height: 2.4rem;
      border-radius: 1.5rem;
      color: #fff;
    }
  }
}
